{% extends 'inventory/base2.html' %}

{% block javascript %}
    <script>
        var usage_endpoint = "{% url 'api-usage' item.id %}"

        jQuery.ajax({
            method: "GET",
            url: usage_endpoint,
            success: function(response_data){
                dynamic_usage = response_data.usage;

                console.log("usage");
                console.log(dynamic_usage);

                // taking in usage qty and manipulating it
                let js_usage_qty = dynamic_usage.map(function(input) {
                    return input.usage_qty
                });

                // taking in usage date and manipulating it
                let js_usage_date = dynamic_usage.map(function(input) {
                    let varDate = new Date(input.created_at)
                    return varDate
                });

                const groups = dynamic_usage.reduce((groups, iusage) => {
                    const date = iusage.created_at.split('T')[0];
                    if (!groups[date]) {
                        groups[date] = [];
                    }
                    groups[date].push(iusage.usage_qty);
                    groups[date].reduce(function(a, b){
                        return a + b;
                    });
                    return groups;
                }, {});

                daily_usage_list = [];

                Object.values(groups).map(num => {
                    let n1 = num.reduce((total, num) => {
                        return total + num;
                    });
                    daily_usage_list.push(n1);
                });

                
                var ctx = document.getElementById('usage-chart');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Object.keys(groups),
                        datasets: [{
                            label: 'Daily Recorded Usage',
                            data: daily_usage_list,
                        }]
                    }
                });
            },
            error: function(error_data){
                console.log("ERROR GUY")
                console.log(error_data);
            }
        });

    </script>
{% endblock %}

{% block content %}
    {% if usage %}
        <!-- Order Chart -->
        <div class="mt-4" id="container" style="width: 100%;">
            <h4>{{ item.description }} Usage History</h4>
            <canvas id="usage-chart"></canvas>
        </div>

        <a class="shadow btn btn-primary mt-3" href="{% url 'item-usage-form' item.id %}">Use Item</a>
        <!-- Usage Chart -->
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col">Usage ID</th>
                    <th scope="col">Item Description</th>
                    <th scope="col">Usage Quantity</th>
                    <th scope="col">Usage Date</th>
                </tr>
            </thead>
            <tbody>
                {% for use in usage %}
                    <tr>
                        <td>{{ use.id }}</td>
                        <td>{{ use.item.description }}</td>
                        <td>{{ use.usage_qty }}</td>
                        <td>{{ use.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3 class="m-5">No Usage yet!</h3>
    {% endif %}
    
{% endblock content %}
