{% extends 'inventory/base2.html' %}

{% block content %} 

    <!-- Leading Description -->
    <h1 class="mt-4">{{ item.description }}</h1>
    <small class="text-muted">Added: {{ item.created_at }}</small>

    <!-- Item Info Dash -->
    <div class="container-fluid">

        <div class="d-flex justify-content-around row mt-4">

            <div class="shadow col-sm-3 card">
                <div class="row">
                    <h3 class="card-title pl-4 pt-4">Inventory</h3>
                </div>
                <div class="row">
                    <h3 class="card-body text-center">{{ item.inventory_qty }}</h3>
                </div>
            </div>

            <div class="shadow col-sm-3 card">
                <div class="row">
                    <h3 class="card-title pl-4 pt-4">Unit Cost</h3>
                </div>
                <div class="row">
                    <h3 class="card-body text-center pt-4">${{ item.cost }}</h3>
                </div>
            </div>
            

            <div class="shadow col-sm-3 card">
                <div class="row">
                    <h3 class="card-title pl-4 pt-4">Net Cost</h3>
                </div>
                <div class="row">
                    <h3 class="card-body text-center pt-4">${{ item.calculate_ext_cost|floatformat:2 }}</h3>
                </div>
            </div>

        </div>

    </div>

{% endblock content %}
