:root {
    --landing: #457B9D;
}

a,
a:hover {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.bg-landing {
    background: var(--landing);
}

.text-landing {
    color: var(--landing);
}

.container-fluid-max {
    max-width: 1440px;
}

.cover {
    background: no-repeat center/cover;
}

.p-15 {
    padding: 15px;
}

.scroll .page-header {
    background: var(--landing);
}

.scroll .hero {
    transform: scale(0.98);
}

/* HEADER */
.page-header {
    transition: background 0.5s ease-in-out;
}

.page-header .navbar {
    padding: 1rem 0;
}

/* BANNER */
.hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.1) 100%,
    );
}